.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.fill {
   padding-left: 20px;
}

.title {
   margin-top: 12px;
}

.task-form {
   width: 100%;
   padding-top: 10px;
}

.enter-task {
   width: 70%;
}

.priority {
   width: 20%;
}

.spacer {
   width: 20px;
}

.content {
   display: block;
   height: 100%;
}

.strike {
   text-decoration: line-through;
}
